<div>
  <div class="submit-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             required
             name="Name"/>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input class="form-control"
             id="phoneNumber"
             required
             name="Phone Number"/>
    </div>
    <div class="actions">
      <button class="btn btn-success save-button"
              (click)="saveContact()">
        Save
      </button>
    </div>
  </div>
</div>
