<div>
  <h4>Contact List</h4>
  <ul class="list-group">
    <li class="entry list-group-item" *ngFor="let contact of (contacts$ | async)">
      <p>
        <strong>Name:</strong>
        &nbsp;{{ contact.name }}
      </p>
      <p>
        <strong>Phone:</strong>
        &nbsp;+1 {{contact.phoneNumber}}
      </p>
      <button class="edit-button btn btn-sm btn-secondary">
        Edit
      </button>
      <button class="delete-button btn btn-sm btn-danger">
        Delete
      </button>
    </li>
  </ul>
  <button class="add-button btn btn-primary" (click)="addContact()">
    Add
  </button>
</div>