<div class="content">
  <div class="title">
    <h4 class="name">Contact List</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let contact of (contacts$ | async)">
      <p>Name: {{ contact.name }}</p>
      <p>Phone: {{contact.phoneNumber}}</p>
      <div class="actions">
        <button class="btn action-button btn-sm btn-secondary">
          Edit
        </button>
        <button class="btn action-button btn-sm btn-danger">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
<button class="add-button btn btn-primary"
        (click)="addContact()">
  Add
</button>
